In [16]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
import pickle
from sklearn.metrics import r2_score

In [17]:
df=pd.read_csv('diabetes_prediction_dataset.csv')
df.head(10)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
5,Female,20.0,0,0,never,27.32,6.6,85,0
6,Female,44.0,0,0,never,19.31,6.5,200,1
7,Female,79.0,0,0,No Info,23.86,5.7,85,0
8,Male,42.0,0,0,never,33.64,4.8,145,0
9,Female,32.0,0,0,never,27.32,5.0,100,0

In [18]:
df['smoking_history'].unique()

array(['never', 'No Info', 'current', 'former', 'ever', 'not current'],
      dtype=object)

In [19]:
df['gender'].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [20]:
df.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

In [21]:
df['smoking_history']=df['smoking_history'].str.strip().str.lower()

df.replace({'gender': {'Male': 0, 'Female': 1, 'Other': 3}, 
            'smoking_history':{'no info': pd.NA, 'never': 0, 'former': 1, 'current': 2, 'not current': 3, 'ever': 4}}, inplace=True)

df.dropna(inplace=True)

In [22]:
df.isna().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

In [23]:
df.describe()

,gender,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,64184.000000,64184.000000,64184.000000,64184.000000,64184.000000,64184.000000,64184.000000,64184.000000
mean,0.605883,46.544112,0.097890,0.047037,28.424120,5.564281,139.628225,0.109778
std,0.489810,19.540334,0.297169,0.211719,6.516199,1.095519,42.165904,0.312615
min,0.000000,0.160000,0.000000,0.000000,10.080000,3.500000,80.000000,0.000000
25%,0.000000,31.000000,0.000000,0.000000,24.600000,4.800000,100.000000,0.000000
50%,1.000000,47.000000,0.000000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,1.000000,61.000000,0.000000,0.000000,31.100000,6.200000,159.000000,0.000000
max,3.000000,80.000000,1.000000,1.000000,91.820000,9.000000,300.000000,1.000000

In [24]:
X=df.drop(columns='diabetes')
Y=df['diabetes']

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test=train_test_split(X, Y, test_size=0.1, random_state=42)

In [26]:
knn_regressor=KNeighborsRegressor(n_neighbors=3)
knn_regressor.fit(X_train, Y_train)

KNeighborsRegressor(n_neighbors=3)

In [27]:
Y_pred=knn_regressor.predict(X_test)
r2=r2_score(Y_test, Y_pred)
r2

0.4688507342696209

In [28]:
pickle.dump(knn_regressor,open('model.pkl','wb'))